@import url('https://fonts.cdnfonts.com/css/kiona-2');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    background-image: linear-gradient(rgba(4, 9, 30, 0.267), rgba(4, 9, 30, 0.253)),url(./MAINPIC/BG4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 156vh;
    opacity: 95%;
}

.navbar{
    width: 1800px;
    height: 50px;
}

.navbar img{
    width: 300px;
    position: absolute;
    margin-left: 75px;
    margin-top: -10px;
}

.info ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 41%;
    padding-top: 5%;
}

.info li{
    list-style: none;
}

.info a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Kiona', sans-serif;
    transition: 0.5s ease 0s;                                  
}

.info li a:hover{
    color: rgb(48, 209, 48);
    opacity: 100%;
}


/* -----destionation------ */

a{
    text-decoration: none;
    height: 500px;
}

.destination{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 80px;
    display: flex;
    margin-top: 5rem;
}

.intro h1{
    font-size: 25px;
    color:rgb(255, 255, 255);
    font-family: 'Kiona', sans-serif;
    padding: 15px; 
}


.row{
    display: flex;
}

.destination-column img{
    width: 400px;
    border-radius: 15px;
}

.destination-column:hover{
    transform: scale(1.07);
}

.destination-column{
    flex-basis: 22%;
    background:rgba(2, 39, 30, 0.377);
    border-radius: 10px;
    padding: 20px ;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    margin: 5rem;
}

.des h1{
    color: white;
    font-size: 35px;
    font-family: 'Kiona', sans-serif; 
    padding: 10px;
}

.des p{
    color: white;
    font-size: 11px;
    font-family: 'Kiona', sans-serif; 
    letter-spacing: 3px;
    line-height: 20px;
}

.destination2{
    margin-top: -25rem;
    margin-left: 5rem;
    display: flex;
    text-align: center;
}

/* ----footer------ */
.ri{
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

/* -----footer----- */

.footer{
    text-align: center;
    margin-top: 5rem;
}

.footer h1{
    color: white;
    font-family: 'Kiona', sans-serif; 
    font-size: 15px;
}

.footer p{
    color: white;
    font-family: 'Kiona', sans-serif; 
    font-size: 11px;
}

/* ------anim------- */

.anim{
    animation: moveup 0.5s linear forwards;
    opacity: 0;
    transform: translateY(60px);
}

@keyframes moveup{
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}